{% extends 'base.html.twig' %}

{% block title %}Créer un éditeur{% endblock %}

{% block body %}
      
        {% include 'layout/navbar.html.twig'%}
          <h1>Créer un éditeur</h1>
          <br>
    {{ form(form) }}
{% endblock %}
